@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 0;
  color: royalblue;
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(1,-0.01, 0.35, 0.99) forwards;
  animation-delay: .6s;
  font-family: Raleway, sanserif;
}

.flex-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
